*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	font-size:15px;
	font-family: 'Space Mono', monospace;
}

.font-weight{
	font-weight: 700;
	color: #333;
}

.page404-h1{
	font-size: .9em;
	margin: 2em 3.5em;
}

.page404-div__container{
	display: flex;
	flex-direction: row;
}

.page404-img{
	width: 25em;
	height: 20em;
	margin: 7.5em 4.3em 0 3.6em;
}

.page404-div__info{
	margin: 0 3.5em 0 0;
}

.page404-h2{
	font-size: 3.2em;
	margin: 1.8em 0 .9em 0;
}

.page404-p{
	font-size: 1.2em;
	font-weight: 400;
	margin: 0 0 3em 0;
}

.page404-a{
	font-size: .8em;
	text-decoration: none;
	color: #fff;
	background: #333;
	padding: 2em 2.3em;
	margin: 0 .2em;
}

.footer{
	font-size: .8em;
	position: absolute;
	left: 37.5em;
	top: 54.5em;
	color: #ccc;
}

@media only screen and (max-width: 1024px){
	.page404-div__container{
		margin: 0 0 0 2em;
	}

	.page404-img{
		width: 24em;
		height: 19em;
		margin: 2em 3em 0 2em;
	}

	.page404-div__info{
		margin: 0 1em 0 1.5em;
	}

	.page404-h2{
		font-size: 2.3em;
		margin: 1em 0 .9em 0;
	}

	.footer{
		font-size: .8em;
		position: absolute;
		left: 25em;
		top: 53em;
		color: #ccc;
	}
}

@media only screen and (max-width: 768px){
	
	.page404-div__container{
		flex-wrap: wrap;
	}

	.page404-h1{
		font-size: .9em;
		margin: 1em 2em;
	}

	.page404-div__container{
		margin: 0 2em 0 0em;
	}

	.page404-img{
		width: 21em;
		height: 16em;
		margin: 4em 1em 0 1em;
	}

	.page404-div__info{
		margin: 2.5em 0 0 5em;
	}

	.page404-h2{
		font-size: 1.7em;
		margin: 1.3em 0 .9em 0;
	}

	.page404-p{
		font-size: .9em; 
	}

	.page404-a{
		font-size: .6em;
	}

	.footer{
		font-size: .8em;
		position: absolute;
		left: 18.5em;
		top:54em;
		color: #ccc;
	}
}

@media only screen and (max-width: 425px){

	.page404-div__container{
		display: flex;
		flex-direction: column;
	}

	.page404-img{
		width: 17em;
		height: 13em;
		margin: 2.5em 4em 0 4.2em;
	}

	.page404-div__info{
		margin: 0 0 0 5em;
	}

	.page404-h2{
		font-size: 1.7em;
		margin: 1.3em 0 .9em 0;
	}

	.page404-p{
		font-size: .9em; 
		margin: 0 0 3.8em 0;
	}

	.page404-a{
		font-size: .6em;
	}

	.footer{
		font-size: .7em;
		position: absolute;
		left: 6.8em;
		top: 62em;
		color: #ccc;
	}
}

@media only screen and (max-width: 375px){

	.page404-div__container{
		display: flex;
		flex-direction: column;
	}

	.page404-img{
		width: 17em;
		height: 13em;
		margin: 2.5em 3.8em 0 2.7em;
	}

	.page404-div__info{
		margin: 0 0 0 3em;
	}

	.page404-h2{
		font-size: 1.7em;
		margin: 1.3em 0 .9em 0;
	}

	.page404-p{
		font-size: .9em; 
		margin: 0 0 3.8em 0;
	}

	.page404-a{
		font-size: .6em;
	}

	.footer{
		font-size: .7em;
		position: absolute;
		left: 4.5em;
		top: 61.8em;
		color: #ccc;
	}
}